@charset "UTF-8";

@import 'base/base';
@import 'base/content';

@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/nav';

/* @import 'components/table'; */
@import 'components/button';
@import 'components/dropdown';

@import 'pages/login';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}