.btn {
  @apply
    inline-block
    py-2
    px-4
    rounded-md
    cursor-pointer
    text-center
    align-middle
    text-base
}

.btn-sm {
  @apply
  inline-block
  py-2
  px-3
  rounded-md
  cursor-pointer
  text-center
  align-middle
  text-sm
}

.btn--secondary {
  @apply 
    text-white
    dark:text-black
    bg-slate-400
    dark:bg-slate-400
    hover:bg-slate-400
    dark:hover:bg-slate-500
    focus:bg-slate-500
    active:bg-slate-500
    focus:outline-none
    focus:ring-2
    focus:ring-slate-500
    focus:ring-offset-2
    transition
    ease-in-out
    duration-150
}

.btn--primary {
  @apply 
    text-white
    dark:text-black
    bg-primary-light
    dark:bg-sky-400
    hover:bg-sky-400
    dark:hover:bg-sky-500
    focus:bg-sky-500
    active:bg-sky-500
    focus:outline-none
    focus:ring-2
    focus:ring-sky-500
    focus:ring-offset-2
    transition
    ease-in-out
    duration-150
}

/* Danger Button */
.btn--danger {
  @apply 
    text-white
    dark:text-black
    bg-red-500
    dark:bg-red-600
    hover:bg-red-600
    dark:hover:bg-red-700
    focus:bg-red-700
    active:bg-red-700
    focus:outline-none
    focus:ring-2
    focus:ring-red-500
    focus:ring-offset-2
    transition
    ease-in-out
    duration-150;
}

/* Warning Button */
.btn--warning {
  @apply 
    text-white
    dark:text-black
    bg-yellow-500
    dark:bg-yellow-600
    hover:bg-yellow-600
    dark:hover:bg-yellow-700
    focus:bg-yellow-700
    active:bg-yellow-700
    focus:outline-none
    focus:ring-2
    focus:ring-yellow-500
    focus:ring-offset-2
    transition
    ease-in-out
    duration-150;
}

/* Success Button */
.btn--success {
  @apply 
    text-white
    dark:text-black
    bg-green-500
    dark:bg-green-600
    hover:bg-green-600
    dark:hover:bg-green-700
    focus:bg-green-700
    active:bg-green-700
    focus:outline-none
    focus:ring-2
    focus:ring-green-500
    focus:ring-offset-2
    transition
    ease-in-out
    duration-150;
}

.btn--spinner,
.btn--spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn--spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn--toggle-sidebar {
  @apply
    z-99999
    block
    rounded-sm
    p-2
    shadow-sm
    lg:hidden
    border
    border-stroke
    dark:border-strokedark
    bg-white
    dark:bg-boxdark
}