.app {
  @apply
    flex
    h-screen
    overflow-hidden
    text-gray-800
    dark:text-gray-200
}

.app__sidebar {
  @apply 
    absolute
    left-0
    top-0
    z-99
    flex
    flex-col
    h-screen
    w-72
    overflow-y-hidden
    duration-150
    ease-linear
    bg-white
    dark:bg-boxdark
}

.app__content {
  @apply
    relative
    flex
    flex-1
    flex-col
    overflow-y-auto
    overflow-x-hidden
}

.app__header {
  @apply 
    sticky
    top-0
    z-999
    flex
    w-full
    drop-shadow-1
    duration-150
    ease-linear
    bg-white
    dark:bg-boxdark
    dark:drop-shadow-none
}