.app {
  @apply
    flex
    h-screen
    overflow-hidden
}

.app__sidebar {
  @apply 
    absolute
    left-0
    top-0
    z-9999
    flex
    flex-col
    h-screen
    w-72
    overflow-y-hidden
    bg-black 
    duration-300
    ease-linear
    dark:bg-boxdark
    lg:static
    lg:translate-x-0
}

.app__content {
  @apply
    relative
    flex
    flex-1
    flex-col
    overflow-y-auto
    overflow-x-hidden
}

.app__header {

}

/* .main__navbar {
  @apply 
    md:flex
}

.main__wrapper {
  @apply 
    flex
    flex-grow
    overflow-hidden
}

.main__sidebar {
  @apply 
    w-56
    p-8
    hidden
    md:block
    flex-shrink-0
    overflow-y-auto
    bg-gray-50
    dark:bg-gray-700
}

.main__content {
  @apply 
    w-full
    px-4
    py-8
    md:p-9
    overflow-hidden
    overflow-y-auto
    bg-sky-300
    dark:bg-sky-700
} */